/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

body {
  background-color: var(--gray-9);
  color: var(--gray-2);
}

h1, h2 {
  color: var(--gray-2);
}

.nav-link {
  font-size: var(--font-size-5);
  text-decoration: none;
  color: var(--green-4);
}
