;;; This file is a sample environment variable files. EDN files are easier to
;;; work with in clojure. As for security, just don't commit any sensitive
;;; files like any other dotfile

{:env ;; Your current environment. Should be either development or production.
 ""}